<ul>
  <%@cats.each do |cat| %>
    <li>
      <ul>
        <li><%=cat.name%></li>
        <li><%=cat.sex%></li>
        <li><%=cat.color%></li>
        <li><%=cat.birth_date%></li>
        <li><%=cat.description%>:</li>
        <li><a href="<%=cat_url(cat) %>">Take me to the cat </a></li>
      </ul>
       <%#= render 'cat', cat: cat, action: :index%>
    </li>
  
  <%end%>
</ul>