<table border = "black">
  <thead>
    <tr>
      <th colspan="3"> 
        <%=@cat.name%>
      </th>
    </tr>
  </thead>

  <tbody>

    <tr>
    <td>Name</td>
    <td>Color</td>
    <td>Birthday</td>
    </tr>

    <tr>
      <td><%=@cat.sex%></td>
      <td><%=@cat.color%></td>
      <td><%=@cat.birth_date%></td>
    </tr>

    <tr>
      <td colspan="3">About Me</td>
    </tr>

    <tr>
      <td colspan="3"><%=@cat.description%></td>
    </tr>
  </tbody>
</table>


<a href="<%=edit_cat_url %>">Give us more info</a>

<br>

<a href="<%=cats_url %>">Let me see all the cats</a>

  